{% spaceless %}
    <div class="form-group">
        <label for="{{ t_tmp_field.id_for_label }}" class="font-weight-bold">{{ t_tmp_field.field.label|lower }}:{% if t_tmp_field.field.required %} *{% endif %}</label>
        <input type="{{ t_tmp_field.widget_type }}" name="{{ t_tmp_field.name }}" id="{{ t_tmp_field.auto_id }}" class="form-control{% if t_tmp_field.errors or t_tmp_is_invalid %} is-invalid{% elif t_tmp_is_valid %} is-valid{% endif %}" placeholder="-{{ t_tmp_field.field.label|lower }}-"{% if not t_tmp_field.field.widget.render_value and t_tmp_field.field.widget.render_value is False %}{% elif not t_tmp_field.field.widget.attrs.render_value and t_tmp_field.field.widget.attrs.render_value is False %}{% elif t_tmp_field.value %} value="{{ t_tmp_field.value }}"{% endif %}{% if t_tmp_field.field.help_text %} aria-describedby="{{ t_tmp_field.auto_id }}-help"{% endif %}{% if t_tmp_field.field.required %} required="required"{% endif %}{% for t_tmp_field_key, t_tmp_field_value in t_tmp_field.field.widget.attrs.items %} {{ t_tmp_field_key }}="{{ t_tmp_field_value }}"{% endfor %}>
        {% if t_tmp_field.field.help_text %}
            <small id="{{ t_tmp_field.auto_id }}-help" class="form-text text-muted">{{ t_tmp_field.field.help_text }}</small>
        {% endif %}
        {% if t_tmp_field.errors %}
            <div class="mx-0 my-1 p-1 invalid-feedback rounded bg-danger text-white">
                <ul class="m-0 ml-4 p-0">
                    {% for t_tmp_field_error in t_tmp_field.errors %}
                        <li class="m-0 p-0">{{ t_tmp_field_error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endspaceless %}