packages:
  yum:
    postgresql-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "backend.wsgi:application"
    NumProcesses: 5
    NumThreads: 15
  aws:elbv2:listener:443:
    Protocol: "HTTPS"
    SSLCertificateArns: "arn:aws:acm:us-east-1:608560554727:certificate/867f9b78-45d3-403f-8848-544986018d2c"
    ListenerEnabled: "true"

Resources:
  AWSEBV2LoadBalancerListener:
    Type: "AWS::ElasticLoadBalancingV2::Listener"
    Properties:
      Port: "80"
      Protocol: "HTTP"
      LoadBalancerArn:
        Ref: "AWSEBV2LoadBalancer"
      DefaultActions:
        - RedirectConfig:
            Port: "443"
            Protocol: "HTTPS"
            StatusCode: "HTTP_301"
          Type: "redirect"
