{% extends "mobelux/security/profile/profile.html" %}

{% block body-main-content-center-title %}{% include "mobelux/_svg_/lock-fill.html" %}&nbsp;Password{% endblock %}

{% block body-main-content-center-content-form-field %}
    {% with t_tmp_field=form.current_password %}
        {% include "mobelux/_field_/input/text-password-email.html" %}
    {% endwith %}
    {% with t_tmp_field=form.new_password1 %}
        {% include "mobelux/_field_/input/text-password-email.html" %}
    {% endwith %}
    {% with t_tmp_field=form.new_password2 %}
        {% include "mobelux/_field_/input/text-password-email.html" %}
    {% endwith %}
{% endblock %}

{% block body-main-content-center-content-form-button-submit-inside %}{% include "mobelux/_svg_/pencil.html" %}&nbsp;Update{% endblock %}
