{% extends "mobelux/dashboard/album.html" %}

{% block body-main-content-center-title %}{% include "mobelux/_svg_/collection-fill.html" %}&nbsp;Album Create{% endblock %}

{% block body-main-content-center-content-form-field %}
    {% with t_tmp_field=form.name %}
        {% include "mobelux/_field_/input/text-password-email.html" %}
    {% endwith %}
    {% with t_tmp_field=form.is_public %}
        {% include "mobelux/_field_/input/checkbox.html" %}
    {% endwith %}
{% endblock %}


{% block body-main-content-center-content-form-button-submit-inside %}{% include "mobelux/_svg_/plus-circle.html" %}&nbsp;Create{% endblock %}
